<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
</head>
<body>
    {{#if loginStatus}}
        <h2>Welcome {{userName.family_name}}</h2>
        <ul>
            <li>{{userName.email}}</li>
        </ul>
        <a href="/logout">Logout</a>
        <img src="{{userName.picture}}" width="100px" height="90px">
    {{else}}
        <a href="/login">Login</a>
    {{/if}}
</body>
</html>